@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Press+Start+2P&family=Ubuntu&display=swap');

.body {
    background-color: blueviolet;
}
p#p{
    font-size:10em;
    text-align: center;
}
div#Main {
    background-color: blueviolet;
    width: 100%;
    height: 100%;

}

div#header {
    background-color: blueviolet;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);;
    width: 100%;
    height: 150px;
    color: white;
    text-align: center;

    /*position:relative;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.ol{
    text-align: center;
}
div#container{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;

}
.center{
    width:fit-content;
    height:fit-content;
}
div#p1{
    width: 500px;/*27%;*/
    height: 600px;
    background-color:#8b22fb;
    display:block;
    float: left;
    font-size: 22px;
    font-family: 'Maven Pro';
    color: white;
    border-bottom-right-radius: 15px;
}
.pp2{
    width: fit-content;
    height: fit-content;
}
div#p2{
    width: 904px;
    height: 600px;
    
    display: block;
    float: left;
}
div#p3{
    color:white;
    width: 500px;
    height: 600px;
    background-color:#8b22fb;
    display: block;
    float: right;
    border-bottom-left-radius: 15px;
    font-family: 'Ubuntu';
}

p#ht {
    font-family: 'Press Start 2P';
    font-size: 4pc;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

div#row1 {
    background-color: blueviolet;
    width: 900px;
    height: 200px;
    display: flex;
	flex-direction:row;
    justify-content: space-between;
	/*width: fit-content;*/
    /*justify-content:left;*/
}

div#row2 {
    background-color: blueviolet;
    width: 900px;
    height: 200px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    /*justify-content:flex-start;*/
}

div#row3 {
    background-color: blueviolet;
    width: 900px;
    height: 200px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    /*justify-content: first baseline;*/

}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:-200px; top:0px;}
    50%  {background-color:blue; left:-200px; top:-200px;}
    75%  {background-color:green; left:0px; top:-200px;}
    100% {background-color:red; left:0px; top:0px;}
}
    @keyframes example2 {
        0%   {background-color:purple; left:0px; top:0px;}
        25%  {background-color:red; left:200px; top:0px;}
        50%  {background-color:blue; left:200px; top:200px;}
        75%  {background-color:green; left:0px; top:200px;}
        100% {background-color:pink; left:0px; top:0px;}
        }
div#n1 {
    background-color: #1C1C1C;
    height: 98%;
    width: 33%;
    float: left;
    position:relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation-name: example;
    animation-duration: 4s;    
}

div#n2 {
    background-color: #1C1C1C;
    height: 98%;
    width: 33%;
    float:left;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation-name: example2;
    animation-duration: 4s;
}

div#n3 {
    background-color: #1C1C1C;
    height: 98%;
    width: 33%;
    float: left;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation-name: example;
    animation-duration: 4s;
}

div#n4 {
    background-color: #1C1C1C;
    height: 98%;
    width: 33%;
    float: left;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation-name: example2;
    animation-duration: 4s;
}

div#n5 {
    background-color: #1C1C1C;
    height: 98%;
    width: 33%;
    float: left;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation-name: example;
    animation-duration: 4s;
}

div#n6 {
    background-color: #1C1C1C;
    height: 98%;
    width: 33%;
    float: left;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation-name: example2;
    animation-duration: 4s;
}

div#n7 {
    background-color: #1C1C1C;
    height: 98%;
    width: 33%;
    float: left;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation-name: example;
    animation-duration: 4s;
}

div#n8 {
    background-color: #1C1C1C;
    height: 98%;
    width: 33%;
    float: left;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation-name: example2;
    animation-duration: 4s;
}

div#n9 {
    background-color: #1C1C1C;
    height: 98%;
    width: 33%;
    float: left;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation-name: example;
    animation-duration: 4s;
}

button#b1 {    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button#b2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button#b3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button#b4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button#b5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button#b6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button#b7 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button#b8 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button#b9 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button.bstart{
    background-color:white;
    color: #28282B;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
button.bstart:hover{
    background-color: #28282B;
    color:whitesmoke;
    border:2px solid white;
}
.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position:relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position:absolute;
    top:0%;
    left:50%;
    transform: translate(-50%,-50%)scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:#333;
    visibility: hidden;
    transition: transform 04s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%)scale(1);
}

.popup img{
    width: 100px;
    /*margin-top: -50px;*/
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup p{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    font-family:'Press Start 2P';
}

.popup button{
    width: 100%;
    margin-top:50px;
    padding: 10px 0;
    background:crimson;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
/*------------------------------------*/
.popup1{
    width: 400px;
    background: #28282B;
    border-radius: 6px;
    position:absolute;
    top:95%;
    left:50%;
    transform: translate(-50%,-50%)scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:#fff;
    visibility: hidden;
    transition: transform 04s, top 0.4s;
}
.open-popup1{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%)scale(1);
}

.popup1 img{
    width: 100px;
    /*margin-top: -50px;*/
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup1 p{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    font-family:'Press Start 2P';
}

.popup1 button{
    width: 100%;
    margin-top:50px;
    padding: 10px 0;
    background:crimson;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}



